<html lang="en">

<head>
  <meta charset="utf-8" />

  <title>{{title}}</title>
</head>

<body>
  <h1>Welcome to page 3</h1>

  <a href="/">Home</a>
  <a href="/page1">Page 1</a>
  <a href="/page2">Page 2</a>
  <a href="/page4">Page 4</a>

  <form action="/createDog" method="post">
    <input type="text" name="dogName" id="dogName">
    <input type="text" name="dogBreed" id="dogName">
    <input type="text" name="dogAge" id="dogAge">
    <input type="submit" value="submit">
  </form>
  <form action="/ageDog" method="get">
    <input type="text" name="getDog" id="getDog">
    <input type="submit" value="submit">
  </form>
</body>

</html>