<html lang="en">

<head>
  <meta charset="utf-8" />

  <title>{{title}}</title>
</head>

<body>
  <h1>Welcome to page 3</h1>

  <a href="/">Home</a>
  <a href="/page1">Page 1</a>
  <a href="/page2">Page 2</a>
  <a href="/page4">Page 4</a>

  <form action="/createDog" method="POST">
    <h2>Create new dog</h2>
    <label for="dogName">Name:</label>
    <input type="text" name="dogName" id="dogName">
    <br>
    <label for="dogBreed">Breed:</label>
    <input type="text" name="dogBreed" id="dogName">
    <br>
    <label for="dogAge">Age:</label>
    <input type="text" name="dogAge" id="dogAge">
    <br>
    <input type="submit" value="submit">
  </form>
  <form action="/ageDog" method="POST">
  <h2>Increase dog age by one</h2>
    <label for="searchDogName">Name:</label>
    <input type="text" name="searchDogName">
    <br>
    <input type="submit" value="submit">
  </form>
</body>

</html>