<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>

<body>
    <h1>Welcome to page4!</h1>
    
    {{#if dogs}}
    <ul>
        {{#each dogs}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{/if}}
</body>

</html>